html, body {
  /* background-image: url("./themes/dark-forest-background-image-1920x1200.jpg"); */
  background-repeat: no-repeat;
  background-position: top center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: 1vh;
}